<div class="container py-4">
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Asignaturas">Asignaturas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Padres">Padres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Docentes">Docentes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Alumnos">Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Secciones">Secciones</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>